@font-face {
  font-family: "Oswald-V";
  font-display: swap;
  src: url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-V";
  font-display: swap;
  src: url("../fonts/Oswald-Medium.woff") format("woff"), url("../fonts/Oswald-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-V";
  font-display: swap;
  src: url("../fonts/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-V";
  font-display: swap;
  src: url("../fonts/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-V";
  font-display: swap;
  src: url("../fonts/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-V";
  font-display: swap;
  src: url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-V";
  font-display: swap;
  src: url("../fonts/RalewayExtraBold.woff") format("woff"), url("../fonts/RalewayExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-V";
  font-display: swap;
  src: url("../fonts/RalewayMedium.woff") format("woff"), url("../fonts/RalewayMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-instagram:before {
  content: "\e902";
}

._icon-share-solid:before {
  content: "\e903";
}

._icon-twitter:before {
  content: "\e904";
}

._icon-vk:before {
  content: "\e905";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Raleway-V";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Raleway-V";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #fff;
  font-size: 13px;
  background: #252525;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 792px;
  margin: 0 auto;
}

._container-fluid {
  max-width: 1300px;
  margin: 0 auto;
}

.form__line {
  text-align: center;
}

.form .form__error {
  text-align: left;
  padding: 0px 10px 10px 12px;
  color: #f57500;
  font-size: 12px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  background-color: #252525;
  border: 1px solid #373737;
  height: 40px;
  color: #a6a6a6;
  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
  font-family: "Oswald-V";
}

.input._focus {
  border: 1px solid #585858;
}

.input._error {
  border: 1px solid #f57500;
}

textarea.input {
  resize: none;
  padding: 10px 20px;
  min-height: 100px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.popup {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #343434;
  padding: 20px 15px;
  width: 100%;
  max-width: 400px;
  -webkit-box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1);
  font-family: "Oswald-V";
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") center no-repeat;
  opacity: 0.25;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.popup_toorder .popup__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  font-size: 25px;
  margin: 0px 0px 30px 0px;
}

.popup_toorder .popup__form input {
  margin: 0px 0px 8px 0px;
}

.popup_toorder .form__btn {
  margin: 30px 0px 0px 0px;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__body {
  background: #252525;
  height: 75px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #252525;
  z-index: 3;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 195px;
          flex: 0 0 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.header__decor {
  position: relative;
  z-index: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
          flex: 0 1 50px;
  height: 1px;
  background: #5a5a5a;
  margin: 0px 10px;
}

.header__contacts {
  position: relative;
  z-index: 3;
}

.logo__image {
  height: 75px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
          flex: 0 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__image img {
  width: 34px;
  height: auto;
}

.logo__text {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto-V";
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.contacts__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__tel a {
  color: #f57500;
  font-weight: 500;
  white-space: nowrap;
}

.contacts__decor {
  width: 1px;
  height: 30px;
  background: #5a5a5a;
  margin: 0px 24px;
}

.contacts__adres {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.contacts__adres span {
  font-style: normal;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
}

.menu__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 75px;
  position: relative;
  z-index: 3;
  background: #3c3c3c;
  -webkit-transition: background 0.5s ease 0s;
  -o-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}

.menu__body {
  display: none;
  position: fixed;
  font-family: "Roboto-V";
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
  overflow: auto;
  padding: 112.5px 10px 0px 10px;
  background: #3c3c3c;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: translate(100%, 0px);
      -ms-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
}

.menu__body._active {
  -webkit-transform: translate(0%, 0px);
      -ms-transform: translate(0%, 0px);
          transform: translate(0%, 0px);
}

.icon-menu {
  display: block;
  position: relative;
  width: 20px;
  height: 14px;
  z-index: 5;
}

.icon-menu span {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  top: calc(50% - 1px);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.icon-menu span:first-child {
  top: 0px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 100vh;
  padding: 75px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.page__aside {
  background: #303030;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
          flex: 0 0 75px;
}

.page__content {
  width: 100%;
  height: 100%;
  position: relative;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__decor {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  background: url("../img/decoration.svg") center/35px no-repeat;
  margin: 15px 0px;
}

.aside__social {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
}

.aside__share-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75px;
          flex: 0 1 75px;
  width: 75px;
  background: #f57500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__share-icon._icon-share-solid::before {
  font-size: 12px;
  color: #fff;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40px;
          flex: 0 1 40px;
  width: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: none;
  -webkit-transition: background 0.5s ease 0s;
  -o-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}

.social__item:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.social__item._icon-instagram::before,
.social__item._icon-vk::before,
.social__item._icon-facebook::before,
.social__item._icon-twitter::before {
  color: #767676;
  font-size: 15px;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.sliders {
  width: 100%;
  height: 100%;
}

.sliders__img {
  position: relative;
  left: 0;
  top: 0;
  width: 75%;
  height: 100%;
}

.sliders__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.slide-img-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide-img-slider__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.text-slider {
  position: absolute;
  width: calc(100% - 75px);
  height: calc(100% - 75px);
  top: 0;
  left: 0;
  z-index: 4;
  overflow: hidden;
}

.text-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 0px 16% 0px 0px;
}

.text-slider__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 705px;
          flex: 0 1 705px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0px 20px 0px 20px;
  text-align: right;
}

.text-slider__title {
  font-family: "Oswald-V";
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-transform: uppercase;
  margin: 0px 0px 0.41667em 0px;
}

.text-slider__title span {
  color: #f57500;
}

.text-slider__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 500px;
  font-weight: 600;
  font-size: 13px;
  line-height: 170%;
  margin: 0px 0px 20px 0px;
}

.text-slider__link {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  padding: 0px 25px;
  font-weight: 800;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #f57500;
  color: #fff;
  position: relative;
}

.text-slider__link span {
  position: relative;
}

.text-slider__link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #303030;
  top: 0;
  left: 0;
  -webkit-transition: width 0.5s ease-out;
  -o-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.sliders__control {
  position: absolute;
  z-index: 3;
  width: 75%;
  height: 75px;
  left: 0;
  bottom: 0;
}

.control-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control-slider__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.control-slider__social .social__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75px;
          flex: 0 0 75px;
  width: 75px;
  height: 75px;
  background: #303030;
  border: none;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.control-slider__social .social__item:last-child::after {
  content: "";
  width: 3px;
  height: 75px;
  background: #f57500;
  position: absolute;
  right: 0;
  top: 0;
}

.control-slider__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control-slider__dotts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 130px;
          flex: 0 1 130px;
  padding: 0px 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.control-slider__dotts .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6px;
  -webkit-transition: border 0.5s ease 0s;
  -o-transition: border 0.5s ease 0s;
  transition: border 0.5s ease 0s;
  cursor: pointer;
}

.control-slider__dotts .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: background 0.5s ease 0s;
  -o-transition: background 0.5s ease 0s;
  transition: background 0.5s ease 0s;
}

.control-slider__dotts .swiper-pagination-bullet-active {
  border: 1px solid #f57500;
}

.control-slider__dotts .swiper-pagination-bullet-active::before {
  background: #f57500;
}

.control-slider__scrollbar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0px 37px 0px 0px;
  position: relative;
}

.control-slider__scrollbar .swiper-scrollbar-drag {
  height: 3px;
  background-color: #f57500;
  left: 0;
  top: -1px;
  position: relative;
  cursor: pointer;
}

.arrows {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80px;
          flex: 0 1 80px;
}

.arrows__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #8a8a8a;
  position: relative;
  margin: 0px 2.5px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.arrows__item_prev._icon-arrow::before {
  font-size: 12px;
  color: #8a8a8a;
  position: relative;
  left: -1px;
}

.arrows__item_next._icon-arrow::before {
  font-size: 12px;
  color: #8a8a8a;
  position: relative;
  left: 1px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.arrows__item.swiper-button-disabled {
  cursor: auto;
  opacity: 0.4;
}

.slider-pagination-count {
  position: absolute;
  right: 90px;
  top: 35px;
  color: #fff;
  z-index: 3;
  display: inline-block;
  width: 120px;
  height: 80px;
  left: auto;
  font-family: "Oswald-V";
  font-weight: 500;
  font-size: 24px;
  overflow: hidden;
}

.slider-pagination-count__current {
  font-size: 40px;
  color: #f57500;
  font-weight: 500;
  display: inline-block;
  min-width: 42px;
}

.slider-pagination-current {
  font-size: 105px;
  font-family: "Oswald-V";
  color: #252525;
  -webkit-text-stroke: 1px #7f7f7f;
  position: absolute;
  right: 115px;
  bottom: 50px;
  z-index: 3;
}

.slider-pagination-current__dot {
  color: #f57500;
  -webkit-text-stroke: 1px transparent;
}

.gear {
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  right: calc(25% - 235px);
  width: 470px;
  height: 470px;
  background: url("../img/gear.svg") center/cover no-repeat;
}

@media (min-width: 991.98px) {
  .popup__close:hover {
    opacity: 1;
  }

  .contacts__tel a:hover {
    text-decoration: underline;
  }

  .aside__share-icon:hover._icon-share-solid::before {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }

  .social__item:hover {
    background: #f57500;
  }

  .social__item:hover._icon-instagram::before,
  .social__item:hover._icon-vk::before,
  .social__item:hover._icon-facebook::before,
  .social__item:hover._icon-twitter::before {
    color: #fff;
  }

  .text-slider__link:hover::before {
    width: 100%;
  }

  .text-slider__link:hover span {
    z-index: 2;
  }

  .arrows__item.swiper-button-disabled:hover {
    border: 2px solid #8a8a8a;
  }

  .arrows__item.swiper-button-disabled:hover._icon-arrow::before {
    color: #8a8a8a;
  }

  .arrows__item:hover {
    border: 2px solid #f57500;
  }

  .arrows__item:hover._icon-arrow::before {
    color: #f57500;
  }
}

@media (max-width: 1500px) {
  .text-slider__slide {
    padding: 0px 12.3% 0px 0px;
  }
}

@media (max-width: 1370px) {
  .slider-pagination-count {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    right: 85px;
  }

  .slider-pagination-current {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    right: 85px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .header__decor {
    display: none;
  }

  .sliders__img {
    width: 100%;
  }

  .text-slider__slide {
    padding: 0px;
  }

  .sliders__control {
    width: calc(100% - 75px);
  }

  .slider-pagination-count {
    display: none;
  }

  .slider-pagination-current {
    display: none;
  }

  .gear {
    display: none;
  }
}

@media (max-width: 804px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 792px) {
  .text-slider__title {
    font-size: calc(20px + 40 * ((100vw - 320px) / 472));
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .header__body {
    height: 58px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58px;
            flex: 0 1 58px;
  }

  .logo__image {
    height: 58px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58px;
            flex: 0 0 58px;
  }

  .logo__text {
    display: none;
  }

  .contacts {
    font-size: 13px;
    line-height: 18px;
  }

  .contacts__tel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 10px;
  }

  .contacts__decor {
    display: none;
  }

  .contacts__adres {
    line-height: 18px;
  }

  .contacts__adres span {
    display: block;
  }

  .menu__wrapper {
    height: 58px;
    width: 58px;
  }

  .menu__wrapper._active {
    background: #f57500;
  }

  .menu__body {
    display: block;
    padding: 87px 10px 0px 10px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .page {
    padding: 58px 0px 0px 0px;
  }

  .page__aside {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58px;
            flex: 0 0 58px;
  }

  .aside__share-icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58px;
            flex: 0 1 58px;
    width: 58px;
  }

  .text-slider {
    width: calc(100% - 58px);
    height: calc(100% - 58px);
  }

  .text-slider__body {
    padding: 0px 40px 0px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .sliders__control {
    height: 58px;
    width: calc(100% - 58px);
  }

  .control-slider__social .social__item:last-child {
    height: 58px;
  }

  .control-slider__social .social__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58px;
            flex: 0 0 58px;
    width: 58px;
    height: 58px;
  }

  .control-slider__dotts {
    display: none;
  }

  .control-slider__scrollbar {
    display: none;
  }
}